@{
    ViewData["Title"] = "Kaempfer Übersicht";
}

<h1>Neuen Kaempfer erstellen</h1> 

<table class="table">
    
    <thead>
    <tr>
        <td>Bezeichnung</td>
        <td>Eingabe</td>
    </tr></thead>
    <tbody>
    <tr>
        <td>Vorname</td>
        <td><input type="text" id="vorname" name="vorname"></td>
    </tr>
    <tr>
        <td>Nachname</td>
        <td><input type="text" id="nachname" name="nachname"></td>
    </tr>
    <tr>
        <td>Herkunft</td>
        <td><input type="text" id="herkunft" name="herkunft"></td>
    </tr>
    <tr>
        <td>Alter</td>
        <td><input type="number" id="alter" name="alter"></td>
    </tr>
    <tr>
        <td>Geschlecht</td>
        <td><input type="text" id="geschlecht" name="geschlecht"></td>
    </tr>
    <tr>
        <td>Gewicht</td>
        <td><input type="number" id="gewicht" name="gewicht"></td>
    </tr>
    <tr>
        <td>
            <a href="/Kaempfer" class="btn">Abbrechen</a>
        </td>
        <td>
            <button>Speichern</button>
        </td>
    </tr>
    </tbody>
</table>





   